* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  max-width: 1140px;
  margin: 0 auto;
}

/* .container {
  padding: 0 calc(50% - 1140px / 2);
} */
.breadcrumbs {
  height: 148px;
  background: #f8f3f4;
}

.breadcrumbs-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.breadcrumbs__heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumbs__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumbs__link::after {
  content: " / ";
}

.breadcrumbs__link:last-child {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.breadcrumbs__link:last-child::after {
  content: none;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background: #f8f8f8;
  max-width: 360px;
  margin-bottom: 30px;
}

.card-margin {
  margin-bottom: 0;
}

.card__img-box {
  position: relative;
}

.card-background {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
}

.card:hover .card-background {
  visibility: visible;
}

.card__img {
  width: 100%;
  vertical-align: middle;
}

.card__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
  padding: 11px 16px 8px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card__button::before {
  content: url(../img/card-busket.svg);
  padding-right: 11px;
}

.card-info {
  padding: 25px 26px 20px 16px;
}

.card-info__heading {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card-info__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 13px 0 18px;
}

.card-info__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

header {
  background-color: #222222;
  padding: 18px 0 19px;
}

.header-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left__logo-img {
  margin-right: 41px;
}

.header-right__burger-img,
.header-right__profil-img {
  margin-right: 33px;
}

.promo {
  background-color: #f1e4e6;
}

.promo-background {
  height: 764px;
  background-image: url(../img/promo-men.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position: bottom left;
}

.promo__heading {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  margin-right: 98px;
  margin-bottom: 100px;
}

.promo__heading-the-brand {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.promo__heading-fashion {
  color: #f16d7f;
}

.main-index {
  padding: 65px 0 109px;
}

.offers {
  padding-bottom: 96px;
}

.offers-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.offer {
  position: relative;
}

.offer__img {
  width: 100%;
  vertical-align: middle;
}

.offer__text {
  text-align: center;
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.offer__text-span {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.offer__text-position {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products__heading {
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.products__text {
  margin-bottom: 48px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.products__button {
  margin-top: 63px;
  text-align: center;
}

.products__button-link {
  color: #f26376;
  border: 1px solid #ff6a6a;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 39px;
  background: white;
  outline: none;
  cursor: pointer;
}

.products__button-link:hover {
  color: white;
  background: #f16d7f;
}

.main-catalog {
  padding: 51px 0 96px;
}

.customization {
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customization-filter {
  width: 360px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.customization-filter__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
}

.customization-filter__icon {
  padding-left: 11px;
}

.customization-sorting {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customization-sorting__label {
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding-right: 28px;
}

.customization-sorting__label::after {
  content: url(../img/sort-icon.svg);
  padding-left: 10px;
}

.customization-filter__input, .customization-sorting__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.customization-filter__input:checked + .customization-filter__label,
.customization-filter__input:checked + .customization-filter__icon {
  color: #ef5b70;
  fill: #ef5b70;
}

.pagination {
  width: 284px;
  margin-top: 48px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 16px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.pagination-list__li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pagination-list__li-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pagination-list__li-link-first {
  color: #ef5b70;
}

.main-product {
  padding-bottom: 128px;
}

.slider {
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 0 42px;
  border: 1px solid #eaeaea;
  position: relative;
}

.slider__button {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
}

.slider__button:hover .slider__button-svg {
  fill: #f16d7f;
}

.slider__button-svg-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.description {
  margin-bottom: 129px;
  position: relative;
  margin-top: -65px;
}

.description-display {
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 65px 0;
  background: #ffffff;
}

.description__heading-pink {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.description__hr-pink {
  background: #ef5b70;
  width: 63px;
  height: 3px;
  margin: 12px 0;
  border: none;
}

.description__heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.description__text {
  max-width: 554px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  padding: 48px 0 32px;
}

.description__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.description__hr {
  width: 642px;
  height: 1px;
  border: none;
  background: #eaeaea;
  margin: 65px 0;
}

.description__button {
  color: #f26376;
  border: 1px solid #ff6a6a;
  margin-top: 48px;
  outline: none;
  font-size: 16px;
  line-height: 19px;
  background: #ffffff;
  padding-right: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.description__button::before {
  content: url(../img/card-busket.svg);
  padding-right: 23px;
  padding: 15px 23px 7px 24px;
}

.sorting-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-product__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sorting-product__label {
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding-right: 23px;
}

.sorting-product__label::after {
  content: url(../img/sort-icon.svg);
  padding-left: 9px;
}

.advantages {
  background-color: #222224;
  padding: 104px 0;
  text-align: center;
}

.advantages-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__img-delivery {
  margin-bottom: 28px;
}

.advantage__img-sales {
  margin-bottom: 20px;
}

.advantage__img-guarantee {
  margin-bottom: 25px;
}

.advantage__heading {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-bottom: 16px;
}

.advantage__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #fbfbfb;
}

.feedback {
  background: rgba(244, 244, 244, 0.7);
  background-image: url(../img/feedback-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 448px;
}

.feedback-info__img {
  margin-bottom: 30px;
}

.feedback-info__text {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  max-width: 359px;
}

.feedback-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-subscribe__heading {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 32px;
}

.feedback-subscribe__heading-span {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.feedback-subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-subscribe-form__input {
  background: #e1e1e1;
  border: none;
  padding: 17px 0 17px 24px;
  border-radius: 20px 0 0 20px;
}

.feedback-subscribe-form__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-subscribe-form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-subscribe-form__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-subscribe-form__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-subscribe-form__button {
  border: none;
  background: #f16d7f;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 17px;
  outline: none;
  cursor: pointer;
}

.feedback-subscribe-form__button:hover {
  background: #e05c6e;
}

footer {
  margin-top: auto;
  background-color: #222224;
}

.footer-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0 24px;
}

.footer__copyright {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-socials__social {
  width: 32px;
  height: 32px;
  margin-right: 7px;
  background-color: white;
}

.footer-socials__social-link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials__social:last-child {
  margin-right: 0;
}

.footer-socials__social:hover {
  background-color: #f16d7f;
}

.footer-socials__social:hover .footer-socials__social-img {
  fill: white;
}
/*# sourceMappingURL=style.css.map */