* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  max-width: 1140px;
  margin: 0 auto;
}

/* .container {
  padding: 0 calc(50% - 1140px / 2);
} */
.header {
  background-color: #222222;
  padding: 18px 0 19px;
}

.header_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo_link {
  margin-right: 41px;
}

.header_burger_img, .header_profile_img {
  margin-right: 33px;
}

.promo_index {
  background-color: #f1e4e6;
}

.promo_index_background {
  height: 764px;
  background-image: url(../img/promo-men.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position: bottom left;
}

.promo_index_heading {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  margin-right: 98px;
  margin-bottom: 100px;
}

.promo_index_heading_the_brand {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.promo_index_heading_FASHION {
  color: #f16d7f;
}

.main_index {
  padding: 65px 0 109px;
}

.offers {
  padding-bottom: 96px;
}

.offers_parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.offer {
  position: relative;
}

.offer_img {
  width: 100%;
  vertical-align: middle;
}

.offer_text {
  text-align: center;
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.offer_text_span {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.offer_text_position {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products_heading {
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.products_text {
  margin-bottom: 48px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.products_button {
  margin-top: 63px;
  text-align: center;
}

.products_button_link {
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  padding: 15px 39px;
  background: white;
  outline: none;
  cursor: pointer;
}

.products_button_link:hover {
  color: white;
  background: #f16d7f;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background: #f8f8f8;
  max-width: 360px;
  margin-bottom: 30px;
}

.card_margin {
  margin-bottom: 0;
}

.card_img_box {
  position: relative;
}

.card-background {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
}

.card_img {
  width: 100%;
  vertical-align: middle;
}

.card_button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
  padding: 11px 16px 8px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.card_button::before {
  content: url(../img/card-busket.svg);
  padding-right: 11px;
}

.card:hover .card-background {
  visibility: visible;
}

.card_info {
  padding: 25px 26px 20px 16px;
}

.card_heading {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 13px 0 18px;
}

.card_price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.advantages {
  background-color: #222224;
  padding: 104px 0;
  text-align: center;
}

.advantages_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage_img_delivery {
  margin-bottom: 28px;
}

.advantage_img_sales {
  margin-bottom: 20px;
}

.advantage_img_guarantee {
  margin-bottom: 25px;
}

.advantage_heading {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-bottom: 16px;
}

.advantage_text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #fbfbfb;
}

.feedback {
  background: rgba(244, 244, 244, 0.7);
  background-image: url(../img/feedback-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 448px;
}

.feedback_info_img {
  margin-bottom: 30px;
}

.feedback_info_text {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  max-width: 359px;
}

.feedback_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback_subscribe_heading {
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  color: #222224;
  margin-bottom: 32px;
}

.feedback_subscribe_heading_span {
  font-weight: bold;
  font-size: 24px;
}

.feedback_subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback_subscribe_form_input {
  background: #e1e1e1;
  border: none;
  padding: 17px 0 17px 24px;
  border-radius: 20px 0 0 20px;
}

.feedback_subscribe_form_input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback_subscribe_form_input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback_subscribe_form_input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback_subscribe_form_input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback_subscribe_form_button {
  border: none;
  background: #f16d7f;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 17px;
  outline: none;
  cursor: pointer;
}

.feedback_subscribe_form_button:hover {
  background: #e05c6e;
}

.footer {
  margin-top: auto;
  background-color: #222224;
}

.footer_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0 24px;
}

.footer_copyright {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  width: 32px;
  height: 32px;
  margin-right: 7px;
  background-color: white;
}

.social_link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social:last-child {
  margin-right: 0;
}

.social:hover {
  background-color: #f16d7f;
}

.social:hover .social_img {
  fill: white;
}

.breadcrumbs {
  height: 148px;
  background: #f8f3f4;
}

.breadcrumbs_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.breadcrumbs_heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumbs_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumbs_link::after {
  content: " / ";
}

.breadcrumbs_link:last-child {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.breadcrumbs_link:last-child::after {
  content: none;
}

.main_catalog {
  padding: 51px 0 96px;
}

.customization {
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customization_filter {
  width: 360px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.customization_filter_label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
}

.customization_filter_icon {
  padding-left: 11px;
}

.customization_sorting {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customization_sorting_label {
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding-right: 28px;
}

.customization_sorting_label::after {
  content: url(../img/sort-icon.svg);
  padding-left: 10px;
}

.customization_filter_input, .customization_sorting_input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.customization_filter_input:checked + .customization_filter_label,
.customization_filter_input:checked + .customization_filter_icon {
  color: #ef5b70;
  fill: #ef5b70;
}

.pagination {
  width: 284px;
  margin-top: 48px;
}

.pagination_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 16px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.pagination_list_li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pagination_list_li_link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pagination_list_li_link_first {
  color: #ef5b70;
}
/*# sourceMappingURL=style.css.map */