.main-catalog {
  padding-bottom: 96px;
}

.customization {
  margin: 51px 0 64px;
  display: flex;
}

.filters {
  width: 360px;
  position: relative;
  margin-right: 30px;
  &-input {
    position: relative;
    z-index: 2;
    appearance: none;
    &:checked ~ .filters-label {
      color: #ef5b70;
      fill: #ef5b70;
    }
  }
  &-label {
    position: relative;
    z-index: 2;
    padding-left: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
  }
  &-icon {
    padding-left: 11px;
  }
}

.filters-open {
  width: 360px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: none;
  position: absolute;
  z-index: 1;
  top: -14px;
  padding: 46px 0 16px;
}
.filters-input:checked ~ .filters-open {
  display: block;
}

.filters-open__details-pd {
  padding-bottom: 24px;
}
.filters-open__title {
  display: block;
  margin-left: 17px;
  margin-right: 16px;
  padding: 11px;
  outline: none;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.filters-open__details[open] .filters-open__title {
  color: #ef5b70;
}
.filters-open__list {
  padding: 24px 0 0 34px;
}
.filters-open__li {
  padding-bottom: 11px;
  &-last {
    padding-bottom: 0;
  }
  &-link {
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
  }
}

.sorting {
  display: flex;
}

.sort {
  margin-right: 28px;
  position: relative;

  &-input {
    appearance: none;
  }

  &-label {
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    &::after {
      content: url(../img/sort-icon.svg);
      margin-left: 10px;
    }
  }
}

.sort-input:checked ~ .sort-open {
  visibility: visible;
}

.sort-open {
  text-align: left;
  visibility: hidden;
  margin-top: 5px;
  padding: 9px 9px 12px;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  &__label {
    font-size: 14px;
    line-height: 16px;
    color: #6f6e6e;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    margin-right: 9px;
  }
}
