.header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header-left__logo-img {
  margin-right: 41px;
}
.header-right__burger-img,
.header-right__profil-img {
  margin-right: 33px;
}
