.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
.registration-form {
  display: flex;
  flex-direction: column;
  width: 360px;
}
.registration-form__heading {
  @include form-heading;
}
.registration-form__input {
  @include form-input;
}
.registration-gender {
  padding: 31px 0 33px;
}
.registration-gender__input {
  border: 1px solid #a4a4a4;
  outline: none;
}
.registration-gender__input {
  margin-right: 10px;
}
.registration-gender__label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}
.registration-form__text {
  padding: 15px 0 39px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}
.registration-form__btn {
  transition: 0.4s;
  padding: 16px 0;
  width: 167px;
  outline: none;
  border: 1px solid #ff6a6a;
  background: #f16d7f;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  &-img {
    padding-left: 20px;
    fill: white;
  }
  &:hover {
    color: #f16d7f;
    background: #ffffff;
  }
  &:hover &-img {
    fill: #f16d7f;
  }
}

.registration-loyalty {
  width: 652px;
}
.loyalty__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 22px;
}
.loyalty__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 21px;
}
.loyalty__li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 16px;
  &::before {
    content: url(../../img/loyalty-icon.svg);
    padding-right: 22px;
  }
}
